@import "./var.scss";

@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.font-family-karla {
  font-family: karla;
}

.bg-sidebar {
  background: $main;
}

.cta-btn {
  color: $main;
}

.upgrade-btn {
  background: #1947ee;
}

.active-nav-link {
  background: $main-light;
}

.nav-item:hover {
  background: $main-light;
}

.nav-item-profile:hover {
  background: #e2e8f0;
}
.account-link:hover {
  background: #ed8936;
}

.katalog-hover {
  .katalog-dropdown {
    visibility: hidden;
  }
  &:hover {
    .katalog-dropdown {
      visibility: visible;
    }
  }
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px !important;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  margin-top: 4px !important;
}
.ant-btn-primary {
  border-color: #ed8936 !important;
  background-color: #ed8936 !important;
}
.ant-picker.ant-picker-focused {
  width: 100% !important;
}
.ant-picker {
  width: 100% !important;
}
.ant-space-vertical {
  width: 100% !important;
}
.react-pdf__Document.custom-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
}
