.c-popup {
  height: fit-content;
  width: 25%;
  left: 37.55%;
  top: 25%;
  bottom: 25%;
  right: 37.5%;
  opacity: 1;
}

.c-pre-popup {
  height: 80px;
  width: 25;
  left: 37.5%;
  top: 15%;
  bottom: 35%;
  right: 37.5%;
  opacity: 0;
}

.c-popup-wrapper {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: #e1d5d5;
}

.border-1 {
  border: solid 0.5px rgb(112, 112, 112);
}

input {
  text-indent: 10px;
}
